.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;   
}

.container img{
    border: 4mm ridge rgba(44, 212, 217, .6);
    border-radius: 5px;
}
.subcontainer{
    max-width: 700px;
    text-align: center;
    border: thick double #2cd4d9;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.subcontainer h1 {

    flex-direction: column;
    border-bottom: 2px solid black;
}

.subcontainer span{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.button{
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-color: #37babe;
    border-radius: 10px;
}