.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
   
   
}

.titulo{
    display: flex;
   
    align-items: center; 


}

