.input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input:hover{
    background-color: #eeeeee75;
}

.input:focus-visible{
    outline: 1px solid #2cd4d9;
}